* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
background: #888; 
}
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

/* IMG INPUT CONFIG */
label.image {
    border: 1px solid #4e73df;
    border-radius: 24px;
    background-size: cover;
    cursor: pointer;
    display: flex;
    height: 20rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

label.image input{
    display: none;
}
/* END IMG INPUT CONFIG */

.flashError{
    padding: 4px;
    color: rgb(32, 32, 32);
    background-color: rgb(172, 80, 80);
    border-radius: 6px;
    align-self: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.container-fluid {
    padding-left: 4%;
    padding-right: 6%;
}

.container {
    margin-bottom: 4%;
}

/* CAROUSEL CONFIGS */
.carousel {
    background-color:rgb(11, 21, 14);
    border-radius: 4px;
}

.carousel-inner > .carousel-item > img {
    height: 60vh;
}

.carousel-item > img {
    display: block;
    margin: 0 auto;
}
/* END CAROUSEL CONFIGS */

/* PET CARD */
.pet-card {
background-color: rgba(0,0,0,0.4);
background-repeat: no-repeat;
background-position: center center;
background-size: auto 100%; 
transition: 0.5s ease;
cursor: pointer;
border: none;
border-radius: 2%;
padding: 1%;
}

.pet-card-content {
font-size: 2vw;
width: 100%;
color: #FFF;
margin: 4%;
text-shadow: 1px 1px 2px #000;
}

.pet-card:hover {
transform: scale(1.05);
box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

.card-pet-name {
width: 100%;
padding-top: 110%; 
}

.card-pet-address {
font-size: 1vw;
}
/* END PET CARD */