* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* IMG INPUT CONFIG */
label.image {
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

label.image input{
    display: none;
}
/* END IMG INPUT CONFIG */

.flashError{
    padding: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: rgb(241, 245, 248);
    background-color: rgb(172, 80, 80);
    border-radius: 6px;
    align-self: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    padding-left: 4%;
    padding-right: 6%;
}

.container {
    margin-bottom: 4%;
}

/* CAROUSEL CONFIGS */
.carousel {
    background-color:rgb(11, 21, 14);
    border-radius: 4px;
}

.carousel-item {
    height: 60vh;
}

.carousel-item > img {
    display: block;
    margin: 0 auto;
    height: 100%;
}

.carousel-item > label.image {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-item > label.image input{
    display: none;
}

/* END CAROUSEL CONFIGS */

/* PET CARD */
.pet-card {
    background-color: rgba(0,0,0,0.4) no-repeat;
    background-position: center center;
    background-size: auto 100%; 
    transition: 0.5s ease;
    cursor: pointer;
    border: none;
    border-radius: 2%;
    padding: 1%;
}

.pet-card-content {
    font-size: 2.4vmin;
    width: 100%;
    color: #FFF;
    margin: 4%;
    text-shadow: 1px 1px 2px #000;
}

.pet-card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

.card-pet-name {
    width: 100%;
    padding-top: 110%; 
}

.card-pet-address {
    font-size: 120%;
}
/* END PET CARD */