@layout('layouts.main')

@section('content')
<div class="text-center">
    <div class="error mx-auto" data-text="404">404</div>
    <p class="text-gray-500 mb-0">Parece houve um erro.</p>
    <a href="/">&larr; Voltar para o Início</a>
</div>
@endsection