<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>
    @!section('title')
  </title>

  <!-- Custom fonts for this template-->
  {{ style('vendor/fontawesome-free/css/all.min.css') }}
  {{ style('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i') }}

  <!-- Custom styles for this template-->
  {{ style('css/sb-admin-2.css') }}
  
  {{ style('style') }}

  @!section('extra-css')

</head>

<body class="bg-gradient-success">

<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="card o-hidden border-0 shadow-lg my-5" style="max-width: 400px; width: 100%">
      <div class="card-body p-0">
      <!-- Nested Row within Card Body -->

        @!section('content')

      </div>
    </div>
  </div>          
</div>

</body>

<!-- Bootstrap core JavaScript-->
{{ script('vendor/jquery/jquery.min.js') }}
{{ script('vendor/bootstrap/js/bootstrap.bundle.min.js') }}

<!-- Core plugin JavaScript-->
{{ script('vendor/jquery-easing/jquery.easing.min.js') }}

<!-- Custom scripts for all pages-->
{{ script('js/sb-admin-2.js') }}

<!-- Sweet Alert 2 -->
{{ script('vendor/sweetAlert2/sweetAlert2.all.min.js') }}

@!section('extra-js')

@if(flashMessage('success'))
<script>
  const Toast = Swal.mixin({
    toast: true,
    position: 'top',
    showConfirmButton: false,
    background: 'rgb(79, 222, 39)',
    timerProgressBar: true,
    timer: 6000,
    onOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
  })

  Toast.fire({
    title: "{{flashMessage('success')}}"
  })
</script>
@endif

</html>
